@import url(//fonts.googleapis.com/css?family=Lato|Raleway|Roboto&display=swap);
/* Picture width and height */
img {
  max-width: 30%;
  height: auto;
  }

  body{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0);
  }

  p{
    color: #ffffff;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
  }

  h1{
    color: #ffffff;
    font-size: 2em;
  }

  h2{
    color: #ffffff;
    font-size: 1.5em;
  }

  form{
    color: #ffffff;
  }

  footer{
    color: #ffffff;
  }

.copyright{
  text-align: center;
}

  .submit{
    display: block;
}

  /* Style the content */
section {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: rgba(0,0,0,0);
  padding: 10px;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea[name=message] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#cookie-check:checked + .cookie{
  display: none;
}
#cookie-check{
  display: none;
}
.cookie{
  position: fixed;
  background-color: #AAAAAA;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li a.active {
  background-color: #4CAF50;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

li {
  list-style: none;
}
